In [1]:
import pandas as pd

df= pd.read_csv("../data/raw/application_train.csv")

# Drop high-null columns again (if not saved separately)
high_missing = [
    'COMMONAREA_AVG', 'COMMONAREA_MODE', 'COMMONAREA_MEDI',
    'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAPARTMENTS_AVG',
    'FONDKAPREMONT_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAPARTMENTS_AVG'
]
df.drop(columns=high_missing, inplace=True)

In [2]:
# Label encode binary columns
binary_cols = ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']

for col in binary_cols:
    df[col] = df[col].map({'Y': 1, 'N': 0, 'M': 1, 'F': 0})

In [3]:
# One-hot encode NAME_TYPE_SUITE
df = pd.get_dummies(df, columns=['NAME_TYPE_SUITE'], drop_first=True)

In [4]:
# Example: income to credit ratio
df['INCOME_CREDIT_RATIO'] = df['AMT_INCOME_TOTAL'] / df['AMT_CREDIT']

# Example: age from DAYS_BIRTH
df['AGE'] = -df['DAYS_BIRTH'] // 365

In [5]:
df.head()
df[['CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','INCOME_CREDIT_RATIO','AGE']].head()

   CODE_GENDER  FLAG_OWN_CAR  FLAG_OWN_REALTY  INCOME_CREDIT_RATIO  AGE
0          1.0             0                1             0.498036   25
1          0.0             0                0             0.208736   45
2          1.0             1                1             0.500000   52
3          0.0             0                1             0.431748   52
4          1.0             0                1             0.236842   54